canvas {
    background: #eee;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#factBot {
    overflow:auto;
    border: 3px solid black;
}

#roboHelper {
    float: left;
    border: 3px solid tan;
}

table {
    width:100%;
}

