* {
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 5px;
    background: #4b4a5a;
}

div {
    color: #e79a58;
}

header {
    font-size: 50px;
    text-align: center;
    background:#a55540;
}

footer {
    font-size: 20px;
    text-align: center;
    background:#a55540;
}

.loreTable {
    border: 2px solid #a55540;
}

#tableTitles {
    text-decoration: underline;
}
