* {
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 5px;
    background: #e1d5d2;
}

div {
    background-color: #4b4a5a;
}

header {
    font-size: 50px;
    text-align: center;
    background:#a55540;
}

footer {
    font-size: 50px;
    text-align: center;
    background:#a55540;
}

.third-color { 
	background: #e79a58; 
}
